alabaster==0.7.12
appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4

certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
cryptography==2.8



distlib==0.3.0
Django==2.2.10
django-allauth==0.39.1
django-cors-headers==3.2.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-rest-knox==4.1.0
django-ssl-auth==2.2.0
django-summernote==0.8.11.6
djangorestframework==3.11.0
dnspython==1.16.0
docutils==0.16



parso==0.6.2
pathtools==0.1.2

pickleshare==0.7.5
Pillow==7.1.2
pytz


python-jsonrpc-server==0.3.4
python-language-server==0.31.8
python-utils==2.4.0
python3-openid==3.1.0


requests==2.21.0
requests-oauthlib==1.2.0

Send2Trash==1.5.0
six==1.14.0



urllib3==1.24.2
virtualenv==20.0.7
virtualenvwrapper-win==1.2.6

